---
import Layout from "@layouts/Layout.astro"
import Container from "@components/container.astro"
---
<Layout title={ "Homepage" }>
  <Container>
    <h1 class="text-6xl md:text-7xl lg:text-8xl font-extrabold my-48 shadow-sky-950">
      Dawn of the Demigods 
    </h1>
  </Container>
</Layout>

