---
import Layout from "@layouts/Layout.astro"
import Container from "@components/container.astro"
---
<Layout title={ "Homepage" }>
  <Container>
  <h1>
    Hello World
  </h1>
  </Container>
</Layout>

