---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Consistent",
    description:
    "We use a deck built with 40 cards, with 4 copies at maxiumum for each cards. Also, players start by drawing 5 cards and can do mulligan with all 5 cards at beggining of the game. There is approximately 70% to draw the card you want.",
    icon: "bx:bxs-pie-chart",
  },
  {
    title: "More balance, less card",
    description:
    "We do more balance adjustment than designing card. Balance adjustment is more important than new cards. New cards are only good when you did a good job at balance",
    icon: "bx:bxs-coin-stack",
  },
  {
    title: "Infinite amount of usable deck",
    description:
    "Cards are designed with intention to not tie to any specifics deck. We normally designed card for the needs of the cardpool, not for a single deck",
    icon: "bx:bxs-network-chart",
  },
  {
    title: "Free to play!!!",
    description:
    "All cards are published to be able to be printed at home. Also all cards are available for free in digital game",
    icon: "bx:bxs-gift",
  },
  {
    title: "Strategic focused",
    description:
    "We designed the game with the principle which every strategic is possible to be countered. Therefore every player will have to be aware of counter play, which is most interesting part of the game.",
    icon: "bx:bxs-brain",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Reason to play this game
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    There are a lot of great reason to play Dawn of the Demigods!!! 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
